@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: rgb(34, 34, 34);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    max-width: 2000px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

#title {
    flex-direction: column;
    line-height: 10px;
    font-size: 50px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: #fff;
    font-size: 40px;
    margin-left: 20px;
    letter-spacing: 2px;
}

a:hover {
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

a:nth-child(5) {
    border: 2px solid rgb(132,14,201);
    padding: 10px;
    border-radius: 15px;
}

a:nth-child(5):hover {
    background-color: rgb(132,14,201);
    color: #fff;
}

h1 {
    font-weight: 200;
    
}

main {
    display: flex;
    margin-top: 50px;
    
}

h2 {
    font-size: 90px;
    line-height: 10px;
    
}

span {
    color: rgb(132, 14, 201);
}

p {
    line-height: 40px;
    max-width: 800px;
    font-size: 40px;
}

img {
    width: 800px;
    margin-left: 200px;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

input {
    margin-top: 20px;
    height: 40px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 25px;
}

input[type="submit"] {
    height: 60px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    font-weight: bold;
    color: #fff;
    font-size: 25px;
} 

input[type="submit"]:hover { 
    cursor: pointer;
}

@media screen and (max-width: 760px) {
    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    h2 {
        font-size: 38px;
    }

    form {
        margin: 0 auto;
    }

    input {
        align-self: center;
    }
    img {
        margin-top: 60px;
    }

    ul {
        text-align: center;
    }
}